html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body > .container {
    margin: 70px auto 50px auto;
}

aside {
    margin-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #DADADA;
}

h1, h2, h3, h4 {
    font-family: Knewave, cursive;
}

h2 a:hover {
    text-decoration: none;
}

a {
    transition: .5s all;
}

img {
    display: block;
    margin-bottom: 20px;
}

/* Spinner */
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    position: absolute;
    left: 50%;
    top: 35%;
    width: 40px;
    height: 40px;
    border: 6px solid #000;
    border-left-color: #333;
    border-bottom-color: #555;
    border-right-color: transparent;
    border-radius: 100%;
    animation: spin 600ms infinite linear;
    -webkit-animation: spin 600ms infinite linear;
}

.loading {
    pointer-events: none;
    opacity: 0.5;
}

/* Comment Box */
.detailBox {
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.titleBox h2 {
    display: inline-block;
}

.commentBox {
    border-top: 1px dotted #bbb;
}

.commentList {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.commentList li {
    height: 70px;
    border-bottom: 1px solid #eee;
}

.commentList li:last-of-type {
    border: 0;
}

.commentList li > div {
    display: table-cell;
}

.commenterImage {
    margin-right: 10px;
    width: 70px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 15%;
}

.commentText {
    float: left;
}

.commentText p {
    margin: 5px 0 0 0;
}

.close {
    display: block;
    clear: both;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-bottom: 1px dotted #bbb;
    padding: 20px 20px 0 20px;
    margin-bottom: 10px;
}